*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.container{
  width: 100vw;
  min-height: 100vh;
  background:  #FFFFFF;
  transition: 0.5s;
}

.container.dark{
  background: #000000;
}

.h1{
  font-size: 48px; /* text-[48px] */
  line-height: 1.1; /* leading-[1.1] */
  font-weight: 600; /* font-semibold */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2{
  font-size: 36px; /* text-[48px] */
  line-height: 1.1; /* leading-[1.1] */
  font-weight: 600; /* font-semibold */
}

.h3{
  font-size: 24px; /* text-[48px] */
  line-height: 1.1; /* leading-[1.1] */
  font-weight: 600; /* font-semibold */
}